body {
  font-family: "Oswald" "Fredoka", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.center {
  display: flex;
  justify-content: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1111px;
  height: 800px;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title {
  width: 621px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 305px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 0.88;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero_wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.hero_btn-left {
  width: 112px;
  height: 47px;
  outline: none;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.hero_btn-right {
  width: 112px;
  height: 47px;
  margin-left: 10px;
  background-color: #cf404d;
  border: 2px solid #cf404d;
  border-radius: 4px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.header {
  margin: auto;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 2841px;
  background-color: #2d3e4f;
}

.header_title {
  margin-top: 206px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.83;
  letter-spacing: 1px;
  color: #cf404d;
  text-align: center;
}

.header_list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_item + .header_item {
  margin-top: 40px;
}

.header_link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header_link:hover {
  color: #cf404d;
}

.header_link-active {
  color: #cf404d;
}

.social_list {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.social_item + .social_item {
  margin-left: 7px;
}

.social_link {
  color: #ffffff;
}

.social_link:hover,
.social_link :focus {
  color: #cf404d;
}

.social_icon {
  fill: currentColor;
}

.pattern_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
}

.pattern_text {
  font-family: "Fredoka";
  margin-top: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.57;
  text-align: center;
  color: rgba(115, 115, 115, 0.74);
}

.heading {
  margin-left: auto;
  margin-right: auto;
}

.container_heading {
  padding-top: 57px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading_list {
  display: flex;
  margin-top: 72px;
}

.heading_item {
  display: flex;
  flex-direction: column;
}

.heading_item + .heading_item {
  margin-left: 21px;
}

.heading_title {
  margin-top: 19px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  color: #313131;
}

.heading_text {
  margin-top: 11px;
  width: 219px;
  height: 80px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.74);
}

.heading_link {
  margin-top: 7px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cf404d;
}

.backgraund {
  margin-left: auto;
  margin-right: auto;
  width: 1111px;
  height: 135px;
  background-color: #cf404d;
}

.container_backgraund {
  padding-left: 86px;
  padding-right: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backgraund_title {
  margin-top: 41px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 1.16;
  color: #ffffff;
}

.backgraund_btn {
  margin-top: 44px;
  width: 127px;
  height: 47px;
  outline: none;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.container_lightbox {
  margin-left: auto;
  margin-right: auto;
  width: 1111px;
  padding-top: 57px;
  padding-bottom: 73px;
  padding-left: 96px;
  padding-right: 96px;
}

.lightbox_list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 72px;
}

.lightbox_item {
  flex-basis: calc(100% / 4 - 20px);
  margin: 10px;
}

.container_contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1111px;
  background-color: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 58px;
  padding-bottom: 79px;
}

.form_contact {
  margin-top: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form_wrap-left {
  position: relative;
}

.form_wrap-right {
  position: relative;
}

.form_input {
  padding-left: 70px;
  width: 281px;
  height: 45px;
  background: #ffffff;
  box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
  border-radius: 3px;
  outline: none;
  border: none;
}

.form_input-right {
  margin-left: 21px;
}

.form_label-left {
  position: absolute;
  top: 50%;
  left: 31px;
  transform: translateY(-50%);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(101, 101, 101, 0.74);
}

.form_label-right {
  position: absolute;
  top: 50%;
  left: 51px;
  transform: translateY(-50%);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(101, 101, 101, 0.74);
}

.form_wrap-area {
  position: relative;
}

.lebel_area {
  position: absolute;
  top: 47px;
  left: 31px;
  transform: translateY(-50%);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(101, 101, 101, 0.74);
}

.area {
  width: 583px;
  height: 110px;
  margin-top: 17px;
  background: #ffffff;
  box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
  border-radius: 3px;
  outline: none;
  border: none;
  resize: none;
}

.backgraund_contact {
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  width: 583px;
  height: 45px;
  background-color: #cf404d;
}

.footer_container {
  padding-top: 24px;
  padding-bottom: 28px;
  background-color: #ffffff;
}

.footer_text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: rgba(0, 0, 0, 0.74);
}
/*# sourceMappingURL=main.css.map */